<form #loginForm="ngForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="fullName">User Name</label>
    <input type="text" class="form-control" [(ngModel)]="loginModel.userName" name="userName" #userName="ngModel" required minlength="6">
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
      <div *ngIf="userName.errors.required">
        Name is required.
      </div>
      <div *ngIf="userName.errors.minlength">
        Name must be at least 6 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" [(ngModel)]="loginModel.password" name="password" #password="ngModel" required minlength="6">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters long.
      </div>
    </div>
  </div>

  <div class="form-group" style="margin-top: 15px">
    <button class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">
      Submit
    </button>
  </div>
</form>