<!--Add tab component to app-->
<!-- <app-tab></app-tab>
<div style="text-align:center">
  <h1> This is parent component </h1>
  <app-child></app-child>
</div> -->

<!-- <div>
  <h2>Comments</h2>
  <app-comment-list [comments]="comments" (onShowComment)="onShowComment($event)">
  </app-comment-list>
</div> -->
<!-- 
<h2>Counter</h2>
<app-counter #counter></app-counter> -->
<!-- <button (click)="counter.increment()">++</button>
<button (click)="counter.decrement()">--</button>
<br>
<br>
<hr>
<button (click)="counterComponent.increment()">++</button>
<button (click)="counterComponent.decrement()">--</button> -->

<!-- <div class="container">
  <h2 class="text-center">TS Comments</h2>
  <div class="col-md-4 col-md-offset-2">
    <app-comment-list></app-comment-list>
  </div>
  <div class="col-md-4">
    <app-comment-detail></app-comment-detail>
  </div>
</div> -->

<div class="container">
  <h3 class="text-center">Book a Flight</h3>
  <div class="col-md-offset-3 col-md-6">
    <app-flight-form></app-flight-form>
  </div>
</div>