
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/about">About</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
          <li>
            <a routerLink="/counter">Counter</a>
          </li>
          <li>
            <a routerLink="/flight-form">Flight Booking</a>
          </li>
          <li>
            <a routerLink="/comment-list">Comment List</a>
          </li>
          <li>
            <a routerLink="/todos">API Todos</a>
          </li>
          <li>
            <a routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>